html,body {
   height:100%; 
}
body{
  margin: 0px;
  padding: 0px;
 background:url("img/Car.jpg") center no-repeat;
background-size: cover;
background-attachment: fixed;
}
header{
  background: red;
  height:50px;
  text-align: center;
  line-height:50px;
  position: relative;
  z-index: 9;
}
header h2{
  margin: 0px;
  padding: 0px;
  color:white;
  text-shadow: 5px 5px black;
}
aside{
  background: #0A48C3;
  width: 40%;
  opacity:0.5;
  height: 92%;
  padding: 0px;
  margin: 0px;
  float: left;
  text-transform: uppercase;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  z-index: 5;
}
aside ul{
  margin: 0px;
  padding: 0px;
}
ul li{
  list-style: none;
  color:white;
padding: 10px;
border-bottom: 5px groove #9A08F0;
}
#connect{
  position: absolute;
  top:10px;
  left:30px;
  z-index: 4;
}
.menue {
  position: absolute;
  z-index: 20;
  top: 16px;
  left: 25px;
  height: 23px;
  width:23px;
}

.menue .one {
  background: white;
  padding: 1px;
}
.menue .two {
  background: white;
  padding: 1px;
  margin-top: 3px;
}
.menue .three{
  background: white;
  padding: 1px;
  margin-top: 3px;
}
#connect:checked~aside{
  transform: translate(0%);
  position: absolute;
}
#connect:checked+.menue>.two{
  opacity: 0;
}
#connect:checked~.menue>.one {
  transform: rotate(130deg);
  margin-top: 8px;
}
#connect:checked~.menue>.three {
  transform: rotate(-130deg);
  margin-top: -7px;
}
#first{
  height:160px;
  width:75%;
  position:relative;
  top:60px;
  left:50px;
  border: 6px solid white;
  border-radius:15px;
}